extends layout

block content
    h1= title
    p This is a search page
    .search
        form(action='/search' method='post' id="searchForm")
            for term in searchTerms
                input(type='search' name=term id='searchBar' placeholder=term, value=query[term])
            input(type='submit' value='Search')
            select(name="resultsPerPage", form="searchForm") Entries per page
                option(value=20) 20
                option(value=30) 30
                option(value=40) 40

    .searchResults
        script
        if results !== undefined
            h3 Displaying  #{results.length} results out of #{count}:
            table(id='searchResults')
                tr
                for hName in displayResults
                    th #{hName}
                for result in results
                    tr
                        for field in displayResults
                            td #{result[field]}
