extends layout

block content
    h1= title
    p This is a search page
    .search
        form(action='/search' method='post')
            for term in searchTerms
                input(type='search' name=term id='searchBar' placeholder=term)
            input(type='submit' value='Search')
    .searchResults
        br
        if results
            h3 Found #{results.length} results:
            ul
                for result, num in results
                    li= num+1
                    ul
                        each val, key in result
                            if val
                                li #{key}: #{val}